<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-right">
      <a routerLink="/addUtilisateur" type="button" class="btn btn-success">Ajouter Utilisateur</a>
    <p class="text-center"><b>Total : </b> {{this.nbUtilisateur}}</p>
    </div>
  </div>
  <div class="row">

    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Nom </th>
          <th class="text-center">Prénom </th>
          <th class="text-center">Téléphone </th>
          <th class="text-center">Mobile </th>
          <th class="text-center">E-mail</th>
          <th class="text-center">Type</th>
          <th width="10%">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let user of utilisateur">
          <td class="text-center">{{user.id}}</td>
          <td class="text-center">{{user.nom}}</td>
          <td class="text-center">{{user.prenom}}</td>
          <td class="text-center">{{user.telephone}}</td>
          <td class="text-center">{{user.mobile}}</td>
          <td class="text-center">{{user.email}}</td>
          <td class="text-center">{{user.type}}  </td>

          <td width="10%">
            <a (click)="handleUtilisateur(user)" class="btn btn-outline-warning btn-sm" style="width: 100%;margin: 6% 0% 6% 0%;">Modifier</a>
            <a (click)="deleteUser(user)" class="btn btn-outline-danger btn-sm" style="width: 100%;margin: 6% 0% 6% 0%;">Supprimer</a>
          </td>
        </tr>


        </tbody>
      </table>

    </div>
  </div>
</div>
