<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="clientForm" (ngSubmit)="updateClient()"   class="form-horizontal" enctype="multipart/form-data" >
        <fieldset>
          <input type="hidden" name="id" value="74">
          <!-- Form Name -->
          <legend>Modifier Client</legend>

          <table class="table">

            <tbody><tr>
              <td><b>Code Client :</b></td>
              <td><input name="code" formControlName="id" value="" type="text" class="form-control input-md"></td>
            </tr>
            <tr>
              <td><b>Raison sociale :</b></td>
              <td><input name="rs" formControlName="raisonSociale" value="" type="text" class="form-control input-md"></td>
            </tr>
            <tr>
              <td><b>Nom :</b></td>
              <td><input name="nom" formControlName="nom" value="" type="text" class="form-control input-md"></td>
            </tr>

            <tr>
              <td><b>Adresse :</b></td>
              <td><input name="adress" formControlName="adresse" value="" type="text" class="form-control input-md"></td>
            </tr>
            <tr>
              <td><b>CP :</b></td>
              <td><input name="cp" value="" formControlName="cp" type="text" class="form-control input-md"></td>
            </tr>
            <tr>
              <td><b>Ville :</b></td>
              <td><input name="ville" value="" formControlName="ville" type="text" class="form-control input-md"></td>
            </tr>


            <tr>
              <td><b>Téléphone :</b></td>
              <td><input name="tel" value="" type="text" formControlName="telephone" class="form-control input-md"></td>
            </tr>
            <tr>
              <td><b>Mobile :</b></td>
              <td><input name="mobile" value="" formControlName="mobile" type="text" class="form-control input-md"></td>
            </tr>
            <tr>
              <td><b>E-mail :</b></td>
              <td><input name="email" formControlName="email" value="" type="mail" class="form-control input-md"></td>
            </tr>
            <!--<tr>
                <td><b>Mot de passe:</b></td>
                <td><input  name="pass" value="" type="password" class="form-control input-md"  ></td>
              </tr>-->
            <tr>
              <td colspan="2" class="text-center">
                <button type="submit" name="Modifier" value="Modifier" class="btn btn-success mx-1">Enregistrer</button>
                <a routerLink="/client" name="button2id" class="btn btn-warning">Fermer</a>
              </td>

            </tr>


            </tbody></table>


        </fieldset>
      </form>


    </div>
  </div>
</div>
