<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="familleForm" (ngSubmit)="updateFamille()" enctype="multipart/form-data" abineguid="589A839534834138A5802645B737CD82">
        <fieldset>

          <!-- Form Name -->
          <legend>Modifier Famille</legend>
<!--          <input type="text" formControlName="id" name="id" value="5">-->
          <table class="table">

            <tbody><tr>
              <td><b>Nom Famille :</b></td>
              <td><input id="textinput" value="" formControlName="nom" name="nom" type="text" placeholder="" class="form-control input-md" ></td>
            </tr>
            <tr>
              <td><b>Description Famille :</b></td>
              <td>
                <textarea class="form-control" value="" id="textarea" name="description"></textarea>
              </td>
            </tr>
            <tr>
              <td><b>Gammes :</b></td>
              <td>
                <div formGroupName="categorie">
                  <select  formControlName="id" class="form-control" style="width: 100%"  >
                    <option   *ngFor="let cat of categories" value="{{cat.id}}">{{cat.nom}}</option>


                  </select>
                </div>

                <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-idcat-container"><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              </td>
            </tr>

            <tr>
              <td><b>Visibilité :</b></td>
              <td>
                <input type="radio" name="visibilite" id="radios-0" value="1" checked="" style="zoom: 1.5;"> Oui
                <br>
                <input type="radio" name="visibilite" id="radios-1" value="0" style="zoom: 1.5;"> Non
              </td>
            </tr>

            <tr>
              <td colspan="2" class="text-center">
                <button type="submit" name="Modifier" value="Modifier" class="btn btn-success mx-2">Enregistrer</button>
                <a routerLink="/famille" name="button2id" class="btn btn-warning">Fermer</a>
              </td>

            </tr>


            </tbody></table>


        </fieldset>
      </form>


    </div>
  </div>
</div>
