<div class="container-fluid">

  <div class="row">
    <div class="col-12">

      <div class="card">
        <form>
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <span style="cursor: pointer;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <table class="table table-striped">
                    <tbody><tr>
                            <td style="width: 50%;">
                                <span class="input-group-text" style="width: 100%;">
                                    <select name="idcat" id="idcat" class="form-control select2-hidden-accessible" style="width: 100%" data-select2-id="idcat" tabindex="-1" aria-hidden="true">
                                    <option value="" data-select2-id="2">Toutes les gammes</option>

                                        <option value="11">OEUF</option>

                                        <option value="3">FRUITS</option>

                                        <option value="4">LEGUMES</option>

                                        <option value="7">CHAMPIGNONS</option>

                                        <option value="5">HERBES</option>

                                        <option value="8">HERBES POTS</option>

                                    </select>
<!--                                  <span class="select2 select2-container select2-container&#45;&#45;default" dir="ltr" data-select2-id="1" style="width: 100%;">-->
<!--                                    <span class="selection"><span class="select2-selection select2-selection&#45;&#45;single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-idcat-container"><span class="select2-selection__rendered" id="select2-idcat-container" role="textbox" aria-readonly="true" title="Toutes les gammes">Toutes les gammes</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>-->
                                </span>
                            </td>
                            <td>
                                <span class="input-group-text" style="width: 100%;">
                                     <input type="text" name="produit" value="" class="form-control input-md" placeholder="Produit">
                                </span>
                            </td>


                    </tr>



                    </tbody></table>


                </span>
            </h5>
          </div>
          <div class="card-footer">
            <table width="100%">
              <tbody><tr>
                <td class="text-left"><b>Total :</b> {{this.nbProduct}} </td>
                <td class="text-left">
                  <button type="submit" name="Rechercher" value="Rechercher" class="btn btn-outline-success btn-sm  ">Rechercher</button>
                </td>
                <td class="text-right">
                  <a href="#" target="_blank" class="btn btn-outline-danger btn-sm"><i class="fa fa-file-pdf-o"></i></a>
                </td>
              </tr>
              </tbody></table>
          </div>
        </form>


      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-12">


      <table class="table" border="0">
        <thead class="thead-light">

        <tr>
          <th class="text-center">Produit</th>
          <th class="text-center">Qte en stock
            <a href="#" class="btn btn-outline-danger btn-sm"> Mise à zéro </a>
          </th>
          <th class="text-center">Alimenté stock&nbsp;&nbsp;<button btn="true" class="btn btn-success alimenteall">Valider</button></th>
          <th class="text-center">Historique</th>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let prod of products">
          <td class="text-center">{{prod.nom}} </td>
          <td class="text-center"><span >{{prod.stockMinimal}}</span></td>
          <td class="text-center">
            <input type="number" name="" idprod="439" ancientqte="10" class="qtealimente qte_439  " onkeydown="search(this,&#39;439&#39;,&#39;10&#39;)" pattern="[0-9]" onkeypress="return !((event.charCode == 46)||(event.charCode == 44))" step="1">
          </td>
          <td class="text-center">
            <a  class="thickbox btn btn-outline-primary btn-sm"> <i class="fa fa-bars"></i></a>
          </td>

        </tr>

        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item active"><a class="page-link alimenteall classpageune " href="#">1   </a></li>
          <li class="page-item"><a class="page-link alimenteall" href="#">2 </a></li>
          <li class="page-item"><a class="page-link alimenteall" href="#">3 </a></li>
          <li class="page-item"><a class="page-link alimenteall" href="#">4 </a></li>
          <li class="page-item"><a class="page-link alimenteall" href="#">5 </a></li>
          <li class="page-item"><a class="page-link alimenteall" href="#"> &gt; </a></li>
          <li class="page-item"><a class="page-link alimenteall" href="#"> &gt;&gt; </a></li>
        </ul>
      </nav>
    </div>
    <input type="hidden" id="qtealimentechange" value="0">
  </div>
</div>
