<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <div class="card">
        <form>
          <div class="card-header" id="headingOne">
            <h4>Liste Produit Pour Client :<b class="text-primary"> [client2] client2   </b></h4>
            <h5 class="mb-0">
		<span style="cursor: pointer;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		 <!--	<table class="table table-striped">
			   <tr>
				  <td><input  name="Codeclient" type="text" style="width: 100%;" value="" placeholder="Code Client" class="form-control input-md"  ></td>
				  <td><input  name="rs" type="text" style="width:100%;" value="" placeholder="Raison sociale" class="form-control input-md"  ></td>
				  <td><input  name="CP" type="text" style="width: 100%;" value="" placeholder="Code Postal" class="form-control input-md"  ></td>
				  <td><input  name="adresse" type="text" style="width: 100%;" value="" placeholder="Adresse" class="form-control input-md"  ></td>
				  <td><input  name="tel" type="text" style="width: 100%;" value="" placeholder="Téléphone" class="form-control input-md"  ></td>
				  <td><input  name="email" type="text" style="width: 100%;" value="" placeholder="E-mail" class="form-control input-md"  ></td>


			   </tr>


			</table>-->


		</span>
            </h5>
          </div>

          <!--<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="">
            <div class="card-body">

            </div>
          </div>-->
          <div class="card-footer">
            <table width="100%">
              <tbody><tr>
                <td class="text-left"><b>Total :</b> 3 </td>
                <td class="text-center">
                  <!--
                    <button type="submit" name="Rechercher"  value="Rechercher" class="btn btn-outline-success btn-sm  ">Rechercher</button>
                       -->
                </td>
                <td class="text-right">
                  <a  title="Ajouter Produit [client2] client2   " type="button" class="thickbox  btn btn-success btn-sm">Ajouter Produit</a>
                </td>
              </tr>
              </tbody></table>
          </div>
        </form>
      </div>


    </div>
  </div>
  <div class="row">

    <div class="col-12 text-right">

    </div>
  </div>
  <div class="row">

    <div class="col-12">

      <table class="table">
        <thead class="thead-light">
        <tr>
          <th class="text-center">Gammes</th>
          <th class="text-center">Familie</th>
          <th class="text-center">Variété</th>
          <th class="text-center">Batiment</th>
          <th width="10%">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr>
          <td class="text-center">LEGUMES</td>
          <td class="text-center">AIL</td>
          <td class="text-center">AIL VRAC</td>
          <td class="text-center"></td>


          <td class="text-center">
            <a href="https://boussettaprimeurs.fr/admin/produitdispatch.php?supp=true&amp;id=74&amp;iddispatch=4785" onclick="if(confirm(&#39;Vous-voulez vraiment supprimer ?&#39;)) return true; else return false;" class="btn btn-outline-danger  btn-sm" style="width: 100%;margin: 6% 0% 6% 0%;">Supprimer</a>
          </td>


        </tr>

        <tr>
          <td class="text-center">HERBES</td>
          <td class="text-center">HERBES</td>
          <td class="text-center">ABSENTE (CHIBA)</td>
          <td class="text-center"></td>


          <td class="text-center">
            <a href="https://boussettaprimeurs.fr/admin/produitdispatch.php?supp=true&amp;id=74&amp;iddispatch=4784" onclick="if(confirm(&#39;Vous-voulez vraiment supprimer ?&#39;)) return true; else return false;" class="btn btn-outline-danger  btn-sm" style="width: 100%;margin: 6% 0% 6% 0%;">Supprimer</a>
          </td>


        </tr>

        <tr>
          <td class="text-center">CHAMPIGNONS</td>
          <td class="text-center">CHAMPIGNONS</td>
          <td class="text-center"> CHAMPIGNON EMINCE X4 &amp; X6</td>
          <td class="text-center">BAT C2</td>


          <td class="text-center">
            <a href="https://boussettaprimeurs.fr/admin/produitdispatch.php?supp=true&amp;id=74&amp;iddispatch=4783" onclick="if(confirm(&#39;Vous-voulez vraiment supprimer ?&#39;)) return true; else return false;" class="btn btn-outline-danger  btn-sm" style="width: 100%;margin: 6% 0% 6% 0%;">Supprimer</a>
          </td>


        </tr>

        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item active"><a class="page-link  classpageune " href="https://boussettaprimeurs.fr/admin/produitdispatch.php?id=74&amp;page=1">1   </a></li>
        </ul>
      </nav>


    </div>
  </div>
</div>
